## Visual Studio / VS Code
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build Folders
bin/
obj/
[Bb]in/
[Oo]bj/
build/
out/

## Database and Local Data
*.db
*.mdf
*.ldf
*.sqlite
appsettings.Development.json

## OS files
Thumbs.db
Desktop.ini
.DS_Store
